PORT=4173
MAPBOX_PUBLIC_TOKEN=your_mapbox_public_token
LEAD_EMAIL=raf77c@gmail.com
RESEND_API_KEY=
EMAIL_FROM=
HUBSPOT_PRIVATE_APP_TOKEN=
HUBSPOT_CREATE_DEAL=true
HUBSPOT_DEAL_PIPELINE=default
HUBSPOT_DEAL_STAGE=appointmentscheduled
